doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 hello world
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem quo, beatae esse optio accusamus animi! Dolorem inventore nam ducimus at rerum amet, facilis illo neque placeat sit quasi porro aliquid!Voluptas aut molestias expedita sit alias, quo facere ad vel sed eaque quod maxime nulla veritatis tempore inventore, vero nisi et id enim accusantium eos doloremque sint, debitis natus. Atque.